/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

#section1{
    margin-bottom: 40px;
}

#section1 h1{
    margin: 20px 0 8px 0;
    font-size: 22px;
    font-weight: 700;
    padding: 0;
}

#section1 p{
    margin:0;
}

.seul-icone{
    color:#000;
    display: flex;
    align-content: center;
    justify-content: center;

}

form input{
    border:none;
    border-top:1px solid #F2F2F2;
    border-bottom:1px solid #F2F2F2 ;
    text-align: center;
    color:black;
    font-size: 18px;
    margin:0 -24px;
    font-weight: 700;
    height: 49px;
    padding:0px;
    padding-right: 24px;
}

input#bouton{
    background-color: #0065FC;
    color:white;
    border:none;
    border-radius: 0px 12px 12px 0px;
    padding-left: 16px;
}

button#loupe{
    display:none;
}

button#loupe .fa-magnifying-glass{
    display:none;
}

#section1 ul li:hover{
    background: #DEEBFF;
}

#section1 form{
    margin:30px 0px;
    display: flex;
    width: 377px;
    height: 49px;
    align-items: center;
    gap: 24px;
}

#section1 form i{
    background-color: #F2F2F2;
    padding: 12px;
    border-radius: 12px 0px 0px 12px;
    width: 35px;
    height: 29px;
    align-items: center;
}

#section1 .filter ul{
    list-style:none;
    display: flex;
    flex-wrap: nowrap;
    padding:0;
    gap: 30px;
}

.filter{
    display:flex;
    margin-bottom: 30px;
    align-items: center;
    gap: 30px;
    padding-top: 0px;
}

.filter1{
    display:flex;
    border-radius: 25px;
}
#info_logement{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
#info_logement i{
    color: blue;
    font-size: 10px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;  
    margin-right: 10px; 
}

#section1 ul li{
    align-self: center;
    border: none;
    border-radius: 25px;
    padding: 6px 10px;
    cursor: pointer;
    border: 2px solid #d9d9d9;
    font-weight: 700;
}

#section1 ul i{
    margin-right: 12px;
    color: #0065FC;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

header{
    display:flex;
    justify-content: space-between;
    margin:auto;
    max-width: 1440px;
}

header img{
    max-width: 150px;
    margin:15px 0;

}

nav{
    align-self: center;
    margin-top:0px;
}

nav ul{
    padding: 0;
    list-style: none;
    display:flex;
    gap:40px;
}

nav ul a{
    text-decoration: none;
    color:black;
    border-top: 3px solid #FFFFFF;
    padding-top: 6px;
}

nav a:hover{
    color:#0065FC;
    border-top: 3px solid #0065FC;
}

ul{
    list-style-type: none;
    display:flex;
    gap: 55px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 30px;
    font-size: 22px;  
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.neutral-star {
    color: var(--main-bg-color)
}
.card img {
    object-fit: cover;
}

.card-title {
    font-size: 15px;
}

.euro {
    font-weight: 700;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: grid;
    grid-template-columns: 67% auto;
    gap:40px;
}

.hebergements-and-populaires {
    border-radius: 20px;
    box-sizing: border-box;

}

/****** Hebergements ***********/
#hebergement-cards{
    width: 65%;
}

#hebergement-cards1{
    width: 100%;
}

div.grid1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

section#hebergement-marseille{
    background: #F2F2F2;
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 15px;
}

#hebergement-marseille img{
    width:100%;
}

#hebergement-cards1 img{
    height:150px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}


#hebergement-cards1 article{
    border-radius: 25px;
    padding:4px 4px 0px 4px;
    background-color: white;
    box-shadow: 0px 3px 15px 0px #c1c1c1;
}

#hebergement-cards1 h2{
    padding: 0px 10px 10px 10px;
    font-size:22px;
    margin-top:0px;
}

#hebergement-cards1 h3{
    color: #000;
    box-shadow: none;
    margin: 4px 0px 8px 0px;
    padding:0px 15px;
}

#hebergement-cards1 p{
    color: #000;
    box-shadow: none;
    margin: 0px 0px 8px 0px;
    padding:0px 15px;
}

#hebergement-cards1 i{
    list-style: none;
}

#hebergements-cards1 p i{
    color: black;
}

#element{
    color: #000;
    font-weight: 800;
    padding: 10px 10px 10px 10px;
    display: flex;
    margin-top:15px;
}

.star{
    padding: 8px 15px 15px 15px;
}


/****** Populaires ***********/
.populaires {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    background: #F2F2F2;
    border-radius: 15px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.populaires-cards .card {
    display:grid;
}

.populaires-cards img {
    width: 123px;
    height: 146px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.populaires-cards .card{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 30px;
}

.populaires-cards .card-txt{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-direction: column;
}


/* Activites*/

#activites div.grid{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:30px;
}

#activites p {
    padding: 40px 0px 30px 10px;
}

#activites img{
    width:100%;
    height:350px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    margin-bottom: -5px;
}

#activites{
    margin:35px 0;
    padding: 10px 10px 5px 10px;
}

#activites .image-marseille{
    background-color: #FFFFFF;
    box-shadow: 0px 2px 5px #c1c1c1;
    border-radius: 20px;
}

#activites .image-marseille .legende{
    font-weight: 700;
    padding:20px 19px 20px 19px;
    background-color: white;
    border-radius: 0 0 20px 20px;
    color: #000;
    margin:0px;
}

#activites a{
    text-decoration: none;
    
}

footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background: #F2F2F2;
    padding: 20px;
}


footer ul{
    list-style: none;
    padding: 0;
    display: grid;
    gap:15px;
}

footer h2,
footer ul li{
    margin: 0px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {

    .filter{
       flex-direction: column;
       align-items: flex-start;
       gap: 0px;
    }

    .hebergements-and-populaires {
       grid-template-columns: none;
       gap: 0px;
    }

    .hebergements {
       width: 30%;
    }

    section#hebergement-marseille{
        padding-bottom: 0px;
        gap: 0px;
    }

    .populaires {
       width: 100%;
       margin-top: 50px;
    }

    .section-title{
        margin: 30px 0px 30px 0px;
    }

    .populaires-title{
        width: 95%;
    }

    .populaires-cards .card{
        margin: 20px;
    }

    .populaires-cards {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
    } 

    .populaires-cards img{
        width: 91px;
        height: 146px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    #activites .image-marseille .legende{
        font-size: 16px;
    }

    #activites img{
         height: 200px;
    }

}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767.98px) {
    /* ... */
    header{
        flex-direction: column;
        align-items: center;
    }
    header img{
        width: 61px;
        height: 19px;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    nav ul{
        gap: 110px;
    }

    nav a:hover{
        color:#0065FC;
        border-bottom: 3px solid #0065FC; 
    }




    input#bouton{
        display:none;
    }

    
    button#loupe .fa-magnifying-glass{  
        display: block;
        width: 9px;
        height: 14px;
        padding: 18px;
        background-color: blue;
        color: white;
        border-radius: 15px;
    }
    
    button#loupe{
        display: flex;
        align-items: center;
        border: 1px solid #f2f2f2;
        border-radius: 15px;
        background: #0065FC;
        padding: 0px;
    }

    #section1 .filter ul{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }

    section#hebergement-marseille{
        background: none;
    }

    div.grid1{
        grid-template-columns: repeat(1,1fr);
        
    }

    #hebergement-marseille{
        order:2;
    }

    #hebergement-cards1 article{

    }


    .populaires{
        order:1;
        margin-top: 35px;
    }
    
    .populaires-title{
        width:54%;
    } 


    .populaires-cards{
        display:grid;
    }




    #activites div.grid{
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }



    footer{
        grid-template-columns: repeat(1,1fr);
        gap: 50px;
    }

}
